.container {
    font-size: large;
}

.contentRow {
    text-align: center;
}

.buffer {
    width: 40%;
}

.midBuffer {
    width: 25%;
}

.bufferRow {
    height: 20px;
}

.card {
    width: 10%;
    display: contents;
}

.card img {
    width: 128px;
    height: 128px;
    border: 1px solid black;
}

textarea {
    width: 100%;
    height: 110px;
}